* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #669999;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
  font-size: 20px;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #669999;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #fff;
  transform: scale(1.05);
}

.social-media {
  width: 130px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #669999;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  border-radius: 50%;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

section.especiliadades {
  padding: 80px 4%;
}

section.especiliadades .flex {
  gap: 60px;
}

.especiliadades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.especiliadades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #669999;
}

.especiliadades .especialidades-box i {
  font-size: 70px;
  color: #669999;
}

.especiliadades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

.projeto {
  width: 100%;
  max-width: 360px; 
  text-align: center;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.btn-icon {
  background-color: transparent;
  color: #669999;
  font-size: 35px;
  text-decoration: none;
  transition: color 0.3s;
}

.btn-icon:hover {
  color: #fff;
}

.btn {
  background-color: #669999;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}
.btn:hover {
  background-color: #557a7a;
}

.btn i {
  font-size: 18px;
}

section.portfolio {
  padding: 80px 4%;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 100%; 
  max-width: 360px;
  height: 460px;
  margin: 0 auto; 
  background-size: cover;
  background-position: 0 50%; 
  transition: background-position 8s ease; 
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 50%; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.overlay:hover {
  opacity: 1;
}

.titulo {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo span {
  color: #669999;
  display: block;
  margin-left: 10px; 
}

.certificados {
  text-align: center;
  padding: 80px 4%;
}

.certificados h2 {
  font-size: 40px; 
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.swiper {
  width: 100%;
  max-width: 600px; 
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-shrink: 0; 
}

.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.swiper-button-next,
.swiper-button-prev {
  color: #669999; 
  font-size: 30px; 
  width: 40px; 
  height: 40px; 
  transition: transform 0.3s ease; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff; 
  transform: scale(1.2); 
}

footer {
  margin-top: 100px;
  padding: 20px 10%;
  color: white;
}

footer i {
  color: #669999;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .line-footer {
  display: flex;
  justify-content: space-between;
  gap: 600px;
  border-bottom: 2px solid #669999;
  padding: 5px;
}

.social-media2 i {
  color: #669999;
  font-size: 30px;
  padding: 20px;
  transition: .2s;
}

.social-media2 i:hover {
  color: white;
  transform: scale(1.05);
}

footer span {
  color: #669999;
  font-size: 20px;
}

.line-footer span {
  color: white;
}

.line-footer2 h4 {
  margin-top: 15px;
}

.certificados h2 span {
  color: #669999;
}

@media screen and (max-width: 1024px) {
  .interface {
    padding: 0 5%;
  }

  header .interface {
    flex-direction: column;
    align-items: center;
  }

  .menu-desktop ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-desktop ul li {
    padding: 10px 0;
  }

  .topo-do-site .flex {
    flex-direction: column;
    text-align: center;
  }

  .img-topo-site img {
    width: 70%;
  }

  section.especiliadades .flex {
    flex-direction: column;
    align-items: center;
  }

  .portfolio .flex {
    flex-direction: column;
    align-items: center;
  }

  .projeto {
    max-width: 100%;
  }

  .img-port {
    max-width: 100%;
    height: auto;
  }

  .certificados {
    padding: 40px 4%;
  }

  .swiper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .topo-do-site h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .topo-do-site .txt-topo-site p {
    font-size: 16px;
  }

  .btn-contato button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  .especialidades-box {
    width: 90%;
  }

  .portfolio .projeto {
    width: 100%;
    margin-bottom: 20px; 
  }

  .img-port {
    height: 300px;
  }

  .overlay {
    font-size: 18px;
  }

  .swiper-slide img {
    width: 90%;
  }

  .social-media2 {
    justify-content: center;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .titulo span {
    display: block;
  }

  .btn-ver-projeto {
    margin-top: 15px; 
  }

  .email-section {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .footer {
    padding-top: 10px !important;
    margin-top: -20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-media {
    margin-top: 10px !important;
  }
}